/*All page*/
*{
 color: whitesmoke;
 text-align: center; 
}

/*Background and font*/
body{
  background: rgb(0, 0, 0, 0.8) url("website-647013.jpg") scroll;
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/*The main page heading*/
h1{
  background-color: rgba(87, 87, 87, 0.30); 
  font-size: 300%;
  border-style: outset;
  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  border-width: thick;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}


h2{
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

/*General divs*/
div{
  background-color: rgba(87, 87, 87, 0.30);
  box-sizing: border-box;
  max-width: 2560px;
}

/*Junior's class*/
.junior{
  font-size: 200%;
  border-color: whitesmoke;
  display:inline-block;
  width: 30%;
  border-radius: 10px;
  border-style: solid dotted solid dotted;
  margin: 1%;
  padding: 1%;
  text-shadow: 2px 2px 5px red;
}

/*Pleno's class*/
.pleno{
  font-size: 200%;
  border-color: whitesmoke;
  display:inline-block;
  width: 30%;
  border-radius: 10px;
  border-style: solid dotted solid dotted;
  margin: 1%;
  padding: 1%;
  text-shadow: 2px 2px 5px red;
}

/*Senior's class*/
.senior{
  font-size: 200%;
  border-color: whitesmoke;
  display:inline-block;
  width: 30%;
  border-radius: 10px;
  border-style: solid dotted solid dotted;
  margin: 1%;
  padding: 1%;
  text-shadow: 2px 2px 5px red;
}

table{
  border-collapse: collapse;
  width: 100%;
}

th, td{
  text-align: left;
  padding: 10px;
  
}

tr:nth-child(even){background-color: rgb(4, 8, 8, 0.5);} /*Background toggle*/

input[type=text]{
  font-size: 15px;
  width: 100%;
  padding:10px 10px;
  margin: 10px 0;
  display: inline-block;
  border: 2px dotted blanchedalmond;
  border-radius: 10px;
  box-sizing: border-box;
  color: black;
}

input[type=number]{
  font-size: 15px;
  width: 100%;
  padding:10px 10px;
  margin: 10px 0;
  display: inline-block;
  border: 2px dotted blanchedalmond;
  border-radius: 10px;
  box-sizing: border-box;
  color: black;
}

input[type=submit]{
  width: 40%;
  background-color: black;
  color: beige;
  padding: 25px 20px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
}

/*Change when mouseover*/
input[type=submit]:hover{ 
  background-color: rgb(0, 255, 242);
  color: rgb(0, 0, 0);
}

/*Change when mouseover*/
.laele:hover{
  background-image: url(ezgif.com-gif-maker.gif);
  background-repeat: no-repeat;
  background-position: right;
  padding: 1px;
}

/*The form's style*/
.formsalario{
  border-radius: 20px;
  background-color: rgb(241, 255, 255, 0.4);
  padding: 10px;
  font-size: 20px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}
/*The class style within the form*/
.senioridade{
  border-radius: 20px;
  padding: 10px;
  font-size: 20px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  background:none;
  display: inline-block;
}